
/*Fizz Buzz Style*/
.fizzBuzz {
    color: purple;
    font-size: large;
    font-weight: bold;
}

.fizz {
    color: darkorange;
}

.buzz {
    color: red;
}

/*Item Project Titles*/
/*.itemPro {
    color: white
}*/
